<div class="content-wrapper">

	<section class="content-header">
		<h1>
			Comandos
		</h1>
		<ol class="breadcrumb">
			<li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active"><a href="/admin/devices">Devices</a></li>
		</ol>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header">
						<div class="box-body no-padding">
							<label for="name">Selecione o device</label>
      				<select id="selDevice" class="form-control" name="places_id" style="margin-bottom: 10px">
        				<option value="0"> </option>
        				{loop="$devices"}
        					<option value="{$value.id}" >{$value.name}</option>
        				{/loop}
      				</select>
						</div>
				
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header">
						<a href="#" class="btn btn-success" id="btnCreate"> Cadastrar Comando</a>

						<div class="box-body no-padding">
							<table class="table table-striped">
								<thead>
									<tr>
										<th style="width: 10px">#</th>
										<th>Comando</th>
										<th>Nome Device</th>
										<th>Interface</th>
										<th style="width: 300px">&nbsp;</th>
									</tr>
								</thead>
								<tbody id="bodyTable">
									
								</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>




		<script type="text/javascript">
			var selDevice = document.getElementById('selDevice');
			selDevice.onclick = function(){
				opts = selDevice.options;
        option = opts[selDevice.selectedIndex];
        if(option.value==0){
        	$("#btnCreate").attr('href','#');
        }else{
        	$('#btnCreate').attr('href','/admin/comandos/create/'+option.value);
        }
        route = document.location.origin+"/api/getComandsDevice/"+option.value;

        console.log(route);
        $.get(route,function(comandos){
        	
        	$('#bodyTable').html('');
        	json_comandos = JSON.parse(comandos);
        	console.log(json_comandos);
        	for (var i = 0 ; i< json_comandos.length ; i++){
 						var j=i+1;
        		$("#bodyTable").append( "<tr id=tr"+json_comandos[i].id+"></tr>" );
        		
        		$("#tr"+json_comandos[i].id).append("<td>"+j+"</td>");
        		$("#tr"+json_comandos[i].id).append("<td>"+json_comandos[i].comando+"</td>");
        		$("#tr"+json_comandos[i].id).append("<td>"+json_comandos[i].nome+"</td>");
        		$("#tr"+json_comandos[i].id).append("<td>"+json_comandos[i].interface+"</td>");

        		var x = $("<td></td>");
        		var editar = $("<a class='btn btn-primary btn-xs' > <i class='fa fa-edit'></i> Editar</a>");
        		var remover = $("<a class='btn btn-danger btn-xs' > <i class='fa fa-trash'></i>Remover</a>");
        		editar.css("margin",1);
        		remover.css("margin",1);
        		remover.click(function(){
        			return confirm('Deseja excluir esse comando?');
        		});
        		editar.attr("href", "/admin/comandos/"+json_comandos[i].id+"/update");
        		remover.attr("href", "#");
        		
        		x.append(editar)
        		x.append(remover);
        		$("#tr"+json_comandos[i].id).append(x);        		 

        	}
        });

			}





		</script>
</section>
</div>